@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0; 
}
body{
    font-family: 'Source Sans 3', sans-serif;
    color: #04146c;
    font-weight: 400;
    text-align: center;
}
main{
    width: 50%;
    margin: auto; /* Centraliza el contenido*/
}

h1{
    font-weight: 900;
    font-size: 88px;
}
h2{
    background-color: #04146c;
    color: #ffffff;
    font-size: 39px;
}
h3{
    font-size: 27px;
}
p{
    background-color: #edf7ff;
    font-size: 24px;
}
img{
    width: 600px;
    /*No le puse margin auto como dice la solucion de alumni porque no queda similar a la imagen*/
    margin: 15px;
    border: 1px solid #04146c;
}