@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    font-family: 'Mulish', 'sans-serif' ;
    color: #04146C;
    font-weight: 400;
    font-size: 20px;
}

h1{
    font-size: 38px;
    font-weight: 900;
    
}

h2{
    font-size: 22px;
    font-weight: 700;
    color: #0a2ff1;
    text-transform: uppercase;
    margin-bottom: 2px;
}

img{
    width: 55px;
    margin-right: 15px;
    vertical-align: middle; /*alinio las imagenes con el h2*/

}

p{
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
}

